/venv/
*.csv
*.tsv
/samples/
/samples/simplified/
/samples/simplified/annotations2.txt
/samples/simplified/annotations3.txt
/samples/simplified/annotations4.txt
/samples/simplified/annotations5.txt
/samples/simplified/annotations6.txt
/samples/simplified/annotations7.txt
/samples/simplified/annotations8.txt
/samples/simplified/annotations9.txt
/samples/simplified/annotations10.txt
/samples/simplified/annotations11.txt
/samples/simplified/annotations12.txt
/samples/simplified/annotations13.txt
/samples/simplified/annotations14.txt
/samples/simplified/annotations15.txt
/samples/simplified/annotations16.txt
/samples/simplified/annotations17.txt
/samples/simplified/annotations18.txt
/samples/simplified/annotations19.txt
/samples/simplified/annotations111.txt
